<div id="tasks" class="text-center">
  <div class="container">
    <div id="tasks_header">
      <h1>Welcome to Task Manager</h1>
      <%= link_to "Add new entry", new_task_path %>
    </div>
    <br>
    <div id="task_header">
      <div class="row">
        <div class="col xs-12">
          <div class="row">
            <div class="col-xs-1">#Task</div>
            <div class="col-xs-3">Task Name</div>
            <div class="col-xs-3">Task Description</div>
            <div class="col-xs-3">Task Status</div>
          </div>
        </div>
      </div>
    </div>
    <% @tasks.each_with_index do |task, index| %>
    <div id="task">
      <div class="row">
        <div class="col xs-12">
          <div class="row">
            <div class="col-xs-1"><%= index + 1 %></div>
            <div class="col-xs-3"><%= task.name %></div>
            <div class="col-xs-3"><%= task.description %></div>
            <div class="col-xs-3"><%= task.done %></div>
            <div class="col-xs-2"><%= link_to "View Task", task_path(task) %><br><%= link_to "Edit Task", edit_task_path(task) %><br><%= link_to "Delete Task", task_path(task), method: :delete  %></div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>

